body{
    width: 100dvw;
    height: 100dvh;
}


.container{
    width: 35rem;
    height: 300px;
    margin: 0 auto;    
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.conversor{
    gap:10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4,1fr);
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}


#origen{
    grid-column: 1/4;
    grid-row: 2/3;
    width: 5rem;
    text-align: center;
    
}

#destino{
    text-align: center;
    width: 5rem;
    grid-column: 1/2;
    grid-row: 3/4;
}

#cantidad{
    grid-column: 2/3;
    grid-row: 1/2;
}


#moneda{
    grid-column: 3/4;
    grid-row: 1/2;
}
#moneda{
    grid-column: 3/4;
    grid-row: 1/2;
}

#cant-orig{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #fefce0;
}

#cant-dest{
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #dfedd6;
}

#div-orig{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #fefce0;
}


#div-dest{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: #dfedd6;
}

#guardar{
    grid-column: 3/4;
    grid-row: 4/5;
}


@media screen and(max-width:340px){

    .conversor{
        gap:10px;
      display: flex;
    justify-content: center;
    align-items: center;
    
    }

}